

:root {
  --navbar-bg-color: rgba(255, 255, 255, 0.8);
  --navbar-text-color: hsl(0, 0%, 0%);
  --navbar-text-color-focus: #57686c;

  --main-text-color: rgba(255, 255, 255, 0.87);
  --page-background-color: #084f46;
  --footer-background-color: #084f46;

  --title-background-color: #023a3e;
  
  --header-height-margin: 4em;
  --book-item-background-color: #022524;

  --box-link-url-color: white;
}

html {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
  font-size: 14px;

  color: var(--main-text-color);
  background-color: var(--page-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  scroll-behavior: smooth;
  box-sizing: border-box;
}
@media (max-width: 780px) {
  html {
    font-size: 14px;
  }
}

body{
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: Garamond, serif;
}

.container {
  max-width: 1000px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  box-shadow: 0 3px 8px #1e1e1f;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  visibility: hidden;
  opacity: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu {
  opacity: 1;
  visibility: visible;
}

.navbar-menu-links {
  list-style: none;
  background-color: var(--navbar-bg-color);
  margin: 0;
  padding: 0;
}

@media (min-width: 780px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded='true'] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded='true'] + #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: flex;
    height: 100%;
    width: 100%;
  }

  .navbar-menu-links{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
  }

  #navbar-social-media-links {
    display: flex;
    flex-direction: row;
  }
}

.header-button {
  border-radius: 8px;
  border: 3px solid transparent;
  font-size: 1em;
  font-weight: normal;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.3em;
}
.header-button:hover {
  color: var(--navbar-text-color-focus);
  font-weight: bold;
}
.header-button:focus,
.header-button:focus-visible {
  color: var(--navbar-text-color-focus);
  outline: 10px auto -webkit-focus-ring-color;
  border-color: #646cff;
}

.title-header {
  letter-spacing: 10px;
  font-size: 30px;
  position: relative;
  background-color: var(--title-background-color);
  margin-top: var(--header-height-margin);
}

.author-bio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  scroll-margin-top: var(--header-height-margin);
}
@media (max-width: 780px) {
  .author-bio {
    grid-template-columns: 1fr;
    margin: 0;
  }
}

.author-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 780px) {
  .author-image {
    margin-left: 0;
  }
}

#author-bio-subheader {
  font-size: 50px;
}

.author-bio-text {
  margin: 1em;
  width: 60%;
  border-radius: 25px;
  padding: 20px;
  justify-self: center;
  align-self: center;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (max-width: 780px) {
  .author-bio-text {
    width: 80%;
    padding: 5px;
  }
}

.books-table-section {
  scroll-margin-top: var(--header-height-margin);
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 98%;
  margin: 1%;
  margin-top: 40px;
  gap: 3em;
}
@media (max-width: 780px) {
  .books-grid {
    grid-template-columns: 1fr; /* Single column when on phones */
  }
}

.book-item {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--book-item-background-color);
  border-radius: 25px;
}
@media (max-width: 780px) {
  .book-item {
    grid-template-columns: 1fr;
  }
}

.book-image-div {
  position: relative;
  flex-direction: column;
  align-items: stretch;
}

.book-description-div {
  position: relative;
  flex-direction: column;
  border-radius: 25px;
  width: 80%;
  padding: 10%;
  justify-self: center;
  align-self: center;
}

.book-title {
  font-size: 20px;
}

.book-cover-image {
  width: 100%;
  height: 100%;
  min-width: 50px;
  object-fit: cover;
  justify-self: center;
}
@media (max-width: 780px) {
  .book-cover-image {
    width: 80%;
  }
}

.book-link-urls {
  color: var(--box-link-url-color);
}

.social-media-section {
  background-color: var(--footer-background-color);
  margin: 1em;
  scroll-margin-top: var(--header-height-margin);
  margin: 0px;
  padding: 0px;
  padding-bottom: 1em;
}

.social-media-link-icon {
  margin: 1em;
  transition: all 0.5s;
  transform-origin: 50% 50%;
}
.social-media-link-icon:hover {
  transform:scale(2);
}